@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rufina:wght@400;700&family=Tiny5&display=swap");

body {
  /* background-image: var(--background);
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: #ffffff;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-tertiary-500: var(--color-tertiary-500);
  --color-neonYellow-500: var(--color-neonYellow-500);
  --color-neonPurple-500: var(--color-neonPurple-500);
  --color-pastelShadowGreen: var(--color-pastelShadowGreen);
  --color-pastelGreen: var(--color-pastelGreen);
  --color-pastelGreen-500: var(--color-pastelGreen-500);
  --font-raleway: var(--font-raleway);
}

:root {
  --background: url("./assets/light-background-img.jpg");
  --color-primary: rgb(42, 44, 61);
  --color-secondary: #c2d8d8;
  --color-tertiary: #546c8c;
  --color-tertiary-500: #385070;
  --color-neonYellow-500: #e2ff8a;
  --color-neonPurple-500: #4831d4;
  --color-pastelShadowGreen: #ebfff5d7;
  --color-pastelGreen: #ebfff5;
  --color-pastelGreen-500: #93b198;
}
